html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title CRUD | #{pagina}
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
    link(href="/css/app.css" rel="stylesheet")

  body(class="h-screen bg-gray-900")
    header(class="bg-gray-800 p-6 shadow-lg flex justify-center items-center flex-col   sm:justify-between sm:flex-row ")
      h1(class="text-white font-bold flex text-sm justify-center md:text-2xl cursor-pointer") CRUD
      nav(class="flex justify-center items-center gap-6 px-10 sm:mt-0 md:mt-0 mt-5")
        a(href="/home" class="text-white hover:text-gray-500 hover:duration-300 hover:transition-all hover:ease-in-out text-sm md:text-2xl  font-bold") Home
        a(href="/desing/crear" class="text-white hover:text-gray-500 hover:duration-300 hover:transition-all hover:ease-in-outtext-sm md:text-2xl font-bold") Crear

    main(class="container mx-auto mt-10")
      block contenido 
        if posts 
          if posts.length
            h1.text-white.text-4xl.text-center.font-bold Publicaciones
            div(class="grid md:grid-cols-3 gap-10 mt-12")  
              each post in posts
                div(class="bg-gray-800 rounded-xl shadow-xl shadow-indigo-500 overflow-hidden ")
                  img(src=`/uploads/${post.imagen}` class="w-full h-60 object-cover" )

                  div(class="p-6")
                    h3(class="mb-5 text-white text-center text-sm md:text-xl font-bold ")=post.titulo
                    p(class="text-white text-left text-sm md:text-xl tracking-wide leading-3  ")=post.descripcion

          else
            h1(class="text-center flex justify-center items-center mt-24 text-white bg-indigo-600 rounded-xl shadow-lg shadow-indigo-600 hover:rotate-1 transition-all duration-500 font-bold py-2 md:py-5 md:text-2xl ") No hay publicaciones 


block scripts
  script(src="/js/app.js")