html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title CRUD
    link(href="/css/app.css" rel="stylesheet")

  body(class="h-screen bg-gray-900")
    header(class="bg-gray-800 p-6 shadow-lg flex justify-center items-center flex-col   sm:justify-between sm:flex-row ")
      h1(class="text-white font-bold flex text-sm justify-center md:text-2xl cursor-pointer") CRUD
      nav(class="flex justify-center items-center gap-6 px-10 sm:mt-0 md:mt-0 mt-5")
        a(href="/home" class="text-white hover:text-gray-500 hover:duration-300 hover:transition-all hover:ease-in-out text-sm md:text-2xl  font-bold") Home
        a(href="/crear" class="text-white hover:text-gray-500 hover:duration-300 hover:transition-all hover:ease-in-outtext-sm md:text-2xl font-bold") Crear


